version: 2.1
jobs:
  deploy:
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - run:
          name: Install Railway CLI
          command: sudo npm install -g railway
      - run:
          name: Railway Login
          command: echo $RAILWAY_TOKEN | railway login --token
      - run:
          name: Deploy to Railway
          command: railway up
workflows:
  version: 2
  deploy:
    jobs:
      - deploy
